<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<title>Thymeleaf if - unless demo</title>
<link rel="shortcut icon" href="#">
</head>
<body>
<div class="container">
  <div class="row">
  <h1>Usuarios</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.userName}"></td>
				<td th:text="${user.email}"></td>
				<td><a class="btn btn-primary" th:if="${user.role} == 'ADMIN'">Update</a></td>
				<td><a class="btn btn-danger" th:if="${user.role} == 'ADMIN'">Delete</a></td>
				<td><a class="btn btn-primary"
					th:unless="${user.role} == 'ADMIN'">View</a></td>
			</tr>
		</tbody>
	</table>
  </div>
</div>

</body>
</html>